* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: #e9ecef;
  --dark-gray: #898989;
  --blue: #88db91;
  --white: #fff;
  --light-brown: #faebd7;
}

body {
  background-color: var(--blue);
}

.main-heading h1 {
  color: var(--dark-gray);
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
}

.table-wrapper {
  width: 100%;
  padding: 5% 10%;
}

table {
  width: 100%;
  border-spacing: 0;
}

table tr th {
  border: 1px solid black;
  background-color: var(--light-brown);
  height: 50px !important;
  font-size: 20px;
}

table tr td {
  text-align: center;
}

table tr td ol {
  display: inherit;
  padding-left: 50px;
  text-align: left;
}

table tr td img {
  height: 100px;
  width: 190px;
}

tr:nth-child(odd) {
  background-color: var(--light-gray);
}
tr:nth-child(even) {
  background-color: var(--white);
}
